.textrise{
   /* width: 32rem;
    height: 23rem;*/
    padding: 4rem;
    font-family: 'Caveat', cursive;
    background-image:url();
}

#greet{
   font-size: 3em;
   z-index: 1;
}
.nav-link{
    font-family: 'DM Sans', sans-serif;
}